@CHARSET "ISO-8859-1";

.padTD {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left:15px;
    height: 40px;
}

.th-center {
	padding: 15px;
	height: 40px;
	text-align: center;
}

.container {
    padding-left: 5px;
    padding-right: 5px;
}

.formWidth {
	width: 660px;
}

img.displayed {
    display: block;
    margin-left: auto;
    margin-right: auto }

input[type="url"] {
    width: 500px;
}